.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.content-container {
  width: 80%;
  margin-left: 20%;
  margin-top: 60px;
  display: none;
  padding: 60px;
}

.show {
  display: block;
}

.sidebar-link {
  width: 100%;
  height: 100%;
}

.card-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card {
  background-color: rgb(233, 233, 233);
  width: 250px;
  padding: 15px;
  border-radius: 10px;
}

.heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card h2 {
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 7px;
}

.card p {
  font-size: 14px;
}

.card button {
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid var(--navy-blue);
  color: var(--navy-blue);
  font-size: 16px;
  margin-top: 25px;
  transition: 250ms ease-in-out;
  width: 100%;
}

.card button:hover {
  background: var(--navy-blue);
}

.card button div {
  height: 100%;
  padding: 8px 14px 8px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms ease-in-out;
}

.card button div:hover {
  filter: brightness(0) invert(1);
  color: white;
}

.card button img {
  margin-left: 7px;
  color: var(--navy-blue);
}
