@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
    --primary-color: #121417;
    --side-color: #61788a;
    --white-color: white;
    --navy-blue: #0063c5;
    --border-color: #12141733;
    --background-color: #F0F2F5;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #f6f6f6;
}

a {
    text-decoration: none;
}

.nav-wrapper {
    width: 100%;
    height: 60px;
    background-color: var(--white-color);
    border-bottom: 2px solid var(--border-color);
    position: fixed;
    z-index: 999;
}

.nav-container {
    padding: 0.7rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 27px;
    color: var(--navy-blue);
}

.options-wrapper {
    display: flex;
    align-items: center;
}

.options ul {
    list-style: none;
}

.options ul li {
    display: inline;
    margin-right: 2rem;
}

.options ul li a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: var(--primary-color);
}

.options ul li a:hover {
    color: #0059b2;
    ;
}

.nav-list .selected a {
    color: var(--navy-blue);
}

.login button {
    border-radius: 10px;
    border-style: none;
    background-color: var(--background-color);
}

.login button i {
    padding: 10px 12px;
    font-size: 18px;
}

.nav-toggler {
    display: none;
    background: none;
    border: none;
    color: var(--primary-color);
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    border-style: none;
    background-color: var(--background-color);
}

.nav-toggler i {
    padding: 10px 12px;
    font-size: 18px;
}

.sidebar {
    height: 100vh;
    width: 20%;
    background-color: white;
    position: fixed;
    box-shadow: 7px 2px 5px rgba(0, 0, 0, 0.02);
}

.sidebar-content {
    padding: 90px 12% 30%;
    font-weight: 500;
    font-size: 17px;
    margin-left: 10px;
}

.sidebar-content nav ul {
    list-style: none;
}

.sidebar-content nav ul li {
    margin: 8px 0;
    padding: 10px 20px;
    border-radius: 10px;
}

.sidebar-content nav ul li a {
    color: var(--primary-color);
}

.sidebar-content nav ul li a:hover {
    opacity: 1;
    color: #0059b2;
}

/* Styles for the selected list item in the sidebar */
.sidebar .selected {
    background-color: #F0F2F5;
}

.sidebar .selected a {
    color: var(--navy-blue);
}

.minor-list {
    margin-top: 40vh;
}

.minor-list-items {
    display: flex;
    align-items: center;
}

.minor-list-items svg {
    margin-right: 5px;
}

.length {
    height: 800px;
}

.sidebar::-webkit-scrollbar {
    width: 8px;
}

.sidebar::-webkit-scrollbar-track {
    margin-top: 90px;
    background: #f1f1f1;
}

.sidebar::-webkit-scrollbar-thumb {

    background-color: #888;
    /* Color of the scrollbar thumb */
    border-radius: 20px;
    /* Roundness of the scrollbar thumb */
    border: 2px solid #f1f1f1;
    /* Padding around the thumb */
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color when hovered */
}

.show-list-toggler {
    margin: 8px 0;
    padding: 10px 20px;
    border-radius: 10px;
    display: none;
    /* will ensure the element is not displayed */
    color: var(--primary-color);
    font-size: 20px;
    cursor: pointer;
    border-style: none;
    background-color: var(--background-color);
    justify-content: center;
    /* will only apply when the element is displayed */
}

.show-list-toggler button {
    background: none;
    border: none;
    font-size: 20px;
}

.sidebar {
    width: 20%;
    transition: width 0.3s, box-shadow 0.3s;
}

.sidebar.expanded {
    width: 65%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.show {
    display: block;
}

@media (max-width: 700px) {
    .sidebar {
        width: 20%;
    }

    .show-list-toggler {
        display: flex;
        justify-content: center;
    }

    .sidebar-content nav ul li {
        margin: 8px 0;
        padding: 5% 5%;
    }

    .minor-list-items {
        display: flex;
        justify-content: center;
    }

    .minor-list-items li a {
        width: 100%;
        height: 100%;
    }

    .hide {
        display: none;
    }
}

@media (max-width: 700px) and (max-height: 1000px) {
    .minor-list {
        margin-top: 70vh;
    }
}

/* @media (max-height: 800px) {
    .minor-list {
        margin-top: 35vh;
    }
} */
@media (max-height: 670px) {
    .sidebar {
        overflow-y: auto;
    }
}

@media (max-width: 768px) {
    .options {
        overflow: hidden;
        transition: 0 3ms ease-out;
    }

    .options nav ul {
        position: absolute;
        top: 63px;
        left: 22%;
        right: 0;
        display: none;
        background-color: var(--white-color);

    }

    .nav-toggler {
        display: block;
    }

    .options-wrapper {
        display: block;
    }

    .options.show ul {
        display: flex;
        flex-direction: column;
        width: 75%;
        padding-left: 2rem;
        box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.2);
    }

    .options.show ul li {
        margin: 10px 0;
        padding-bottom: 5px;
        border-bottom: 2px solid var(--border-color);
    }

    .options.show {
        max-height: 0;
        overflow: hidden;
        transition: 0 4s ease-in-out;
    }
}